.container {
  padding: 1rem 3rem;
}

header .container:nth-of-type(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-container {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0.35rem;
  display: flex;
  place-content: center;
  border-radius: 5px;
}

.content {
  text-transform: uppercase;
  color: var(--clr-grey);
  text-align: center;
}

.search {
  width: 40%;
}

.target {
  text-transform: uppercase;
  color: var(--clr-grey);
}

.company {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.item-container {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  place-content: center;
  padding: 0.6rem;
  cursor: pointer;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--clr-pink);
  line-height: 0.85;
  padding: 0.1rem;
  border-radius: 6px;
  font-size: 0.75rem;
}

.links-container {
  padding: 1rem;
  margin-inline: auto;
  text-transform: uppercase;
  color: var(--clr-black);
  font-weight: 600;
}

.links-container a:first-child {
  margin-left: auto;
}

.links-container a:last-child {
  margin-right: auto;
}

.links-container a {
  cursor: pointer;
}

.selected {
  color: var(--clr-pink);
}

.cart-content {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
  width: 20rem;
  background-color: white;
  z-index: 5;
}

.show {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item .image-container {
  width: 3rem;
  height: 3rem;
}

.cart-item {
  display: flex;
  gap: 0.3rem;
}

.cart-item .name {
  width: 15ch;
}

.quantity .icon {
  width: 1rem;
  height: 0.5rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quantity {
  display: flex;
  gap: 0.2rem;
}

.quantity > div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.iconnn {
  width: 1rem;
  height: 1rem;
  padding: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
