.container {
  min-width: 25rem;
  min-height: 25rem;
  padding: 1rem;
  background-color: white;
}

.icon {
  width: 1rem;
  height: 1rem;
  padding: 0.1rem;
  margin-left: auto;
  display: flex;
  place-content: center;
}

.main-wrapper {
  width: 10rem;
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.discount-ticket {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  border-radius: 50%;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.heart {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.photos-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.wrapper.selected::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: var(--clr-pink);
}

.inside-cotnainer {
  flex: 1;
}

.photos-wrapper {
  flex: 0.5;
}

.content {
  flex: 0.5;
}

.underline {
  text-decoration: line-through;
}

button {
  all: unset;
  padding: 0.5rem 0.7rem;
  background-color: var(--clr-pink);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.inactive {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.purshase {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
