app-product-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

app-snackbar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.image-wrapper {
  margin: 0rem 3rem;
  border-radius: 15px;
  overflow: hidden;
}

.image-wrapper img {
  display: block;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: 75% 61%;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.about-us h1 {
  margin-bottom: 1rem;
}

.about-us p {
  line-height: 1.6;
  color: gray;
}

.t {
  padding: 3rem;
  display: flex;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-container,
.newest-products-container {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.categories-container {
  flex: 0.4;
}

.newest-products-container {
  flex: 0.6;
}

.header p:last-child {
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.header p:last-child:hover {
  color: var(--clr-pink);
}

.categories {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.category {
  width: 7rem;
  height: 4rem;
  padding: 1rem;
  background-color: rgba(108, 94, 94, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.category:hover {
  background-color: var(--clr-pink);
}

.category-image-wrapper {
  flex-basis: 1;
  height: 100%;
}

.category-image-wrapper img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.category p {
  width: 10ch;
  font-size: 0.6rem;
}

.newest-products {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product {
  width: 8rem;
  height: 16rem;
  /*   display: flex;
  flex-direction: column;

  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer; */
}

.product-image-wrapper::after {
  content: "Buy now";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--clr-pink);
  width: 100%;
  display: flex;
  place-content: center;
  height: 0%;
  overflow: hidden;
  transition: height 0.5s linear;
}

.product:hover .product-image-wrapper::after {
  height: 1.7rem;
}

.product-image-wrapper {
  width: 100%;
  height: 8rem;
  display: block;
  position: relative;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.3em;
  width: max-content;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  background-color: red;
  color: white;
  font-size: 0.7rem;
}

.name,
.price,
.price-after-discount {
  text-align: center;

  padding: 0.5rem;
}

.underline {
  text-decoration: line-through;
}

.price-after-discount {
  margin-top: auto;
}
