<app-snackbar *ngIf="message.length !== 0" [message]="message"></app-snackbar>
<app-product-details
  (close)="onCLose()"
  *ngIf="selected"
  [product]="selected"
></app-product-details>

<div class="image-wrapper">
  <img
    src="https://images.unsplash.com/photo-1532060914611-6d4586fb0668?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
</div>
<div>
  <div class="t">
    <div class="categories-container">
      <div class="header">
        <p>Discover</p>
        <p (click)="navigateTo('categories')">see more</p>
      </div>
      <div class="categories">
        <ng-container *ngFor="let category of categories">
          <div class="category" (click)="showProducts(category)">
            <div class="category-image-wrapper">
              <img
                [src]="'http://localhost:3000/' + category.photo"
                [alt]="category.name + 'photo'"
              />
            </div>
            <p>{{ category.name }}</p>
          </div></ng-container
        >
      </div>
    </div>
    <div class="newest-products-container">
      <div class="header">
        <p>Newest products</p>
        <p (click)="navigateTo('products')">see more</p>
      </div>
      <div class="newest-products">
        <ng-container *ngFor="let product of products">
          <div class="product" (click)="selectProduct(product)">
            <app-product [product]="product"></app-product>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="about-us">
    <h1>Shoppin'On</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, error
      necessitatibus perspiciatis ea assumenda molestias, sed, modi cumque
      adipisci ad libero distinctio a optio repellendus soluta nulla reiciendis
      quidem? Voluptates! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ea rerum praesentium voluptates, eligendi temporibus iste labore
      adipisci ipsum nostrum molestias numquam aspernatur atque voluptate
      repudiandae? Amet commodi quo totam omnis? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Nihil, error necessitatibus perspiciatis ea
      assumenda molestias, sed, modi cumque adipisci ad libero distinctio a
      optio repellendus soluta nulla reiciendis quidem? Voluptates! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Ea rerum praesentium
      voluptates, eligendi temporibus iste labore adipisci ipsum nostrum
      molestias numquam aspernatur atque voluptate repudiandae? Amet commodi quo
      totam omnis?
    </p>
  </div>
</div>
