<app-loading-indicator *ngIf="loading"></app-loading-indicator>
<div class="cotnainer">
  <app-snackbar *ngIf="message.length !== 0" [message]="message"></app-snackbar>
  <h1>
    Coupons <span>{{ "(" + coupons.length + ")" }}</span>
  </h1>
  <div class="btn" (click)="showForm(null)">Add new coupon</div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="show">
    <div class="row gap-2 align-center">
      <div
        class="name"
        [ngClass]="{ wrong: submit && form.controls['name'].errors }"
      >
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          [ngModel]="selected?.name"
          required
        />
        <p class="error" *ngIf="submit && form.controls['name'].errors">
          Name is required.
        </p>
      </div>
      <div
        class="value"
        [ngClass]="{ wrong: submit && form.controls['value'].errors }"
      >
        <label for="value" required>Value:</label>
        <input
          type="number"
          required
          max="1"
          min="0"
          id="value"
          name="value"
          [ngModel]="selected?.value"
        />
        <p class="error" *ngIf="submit && form.controls['value'].errors">
          {{
            form.controls["value"].errors["required"]
              ? " Value is required."
              : "Value must be a number between 0 and 1!"
          }}
        </p>
      </div>
    </div>
    <div class="btns">
      <button (click)="hideForm()">Cancel</button> <button>Submit</button>
    </div>
  </form>
  <div class="column coupons gap-1">
    <ng-container *ngFor="let coupon of coupons">
      <div class="coupon">
        <p>{{ coupon.name }}</p>
        <p
          [ngStyle]="{
            'white-space': 'nowrap'
          }"
        >
          {{ coupon.value * 100 + " %" }}
        </p>
        <p
          [ngStyle]="{
            color: !coupon.active ? 'red' : 'green',
            'font-weight': 'bold'
          }"
        >
          {{ !coupon.active ? "Inactive" : "Active" }}
        </p>
        <div class="icons">
          <div class="icon" (click)="setState(coupon)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                [attr.fill]="!coupon.active ? '#63E6BE' : '#FFB8B8'"
                d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"
              />
            </svg>
          </div>
          <div class="icon" (click)="showForm(coupon)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                fill="#c7c7c7"
                d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
              />
            </svg>
          </div>
          <div class="icon" (click)="deleteCoupon(coupon)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                fill="#c7c7c7"
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
              />
            </svg>
          </div>
        </div></div
    ></ng-container>
  </div>
</div>
