<app-loading-indicator *ngIf="loading"></app-loading-indicator>
<app-special-dialog
  [selected]="selected"
  [product]="product"
  [role]="role"
  (close)="onClose($event)"
  *ngIf="show"
  (create)="onCreate($event)"
  (edit)="onEdit($event)"
></app-special-dialog>
<div>
  <app-snackbar *ngIf="message.length !== 0" [message]="message"></app-snackbar>
  <div class="cotnainer">
    <h1>
      Products <span>{{ "(" + total + ")" }}</span>
    </h1>

    <form #form="ngForm" (ngSubmit)="searchProducts(form)" class="search-field">
      <div>
        <input
          type="text"
          placeholder="Search product..."
          ngModel
          name="search"
        />
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              fill="#cccccc"
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            />
          </svg>
        </div>
      </div>
      <button type="submit">Search</button>
    </form>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>unit price</th>
          <th>price</th>
          <th>created At</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let p of products">
          <tr>
            <td>
              <img [src]="'http://localhost:3000/' + p.photos[0]" alt="" />
            </td>
            <td>{{ p.name }}</td>
            <td>{{ p.unitPrice + " TND" }}</td>
            <td>{{ p.price + " TND" }}</td>
            <td>{{ p.createdAt | date : "mediumDate" }}</td>
            <td>
              <div class="row align-center gap-half">
                <div class="action" (click)="openDilaog('Edit product', p)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      fill="#ded9d9"
                      d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"
                    />
                  </svg>
                </div>
                <div class="action" (click)="onDelete(p._id)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      fill="#ded9d9"
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                    />
                  </svg>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="row gap-half pages align-center">
      <div class="button" (click)="decrement()">Previous</div>
      <ng-container *ngFor="let l of length">
        <div
          class="button"
          (click)="setPage(l)"
          [ngClass]="{ selected: page === l }"
        >
          {{ l }}
        </div>
      </ng-container>

      <div class="button" (click)="increment()">Next</div>
    </div>
  </div>
  <footer>
    <div (click)="openDilaog('Create product', null)">Add product</div>
  </footer>
</div>
